# Log files
batman/log/*
robin/log/*

# FitNesse things
*.zip
FitNesseRoot/RecentChanges
FitNesseRoot/ErrorLogs
FitNesseRoot/files/testResults

# ViM things
*~
.*.swp

# Databases
*.sqlite3

# SliM results and temporary fitnesse output
batman/features/fitnesse
robin/features/fitnesse
batman/slim_results
robin/slim_results

# Bundler things
.bundle/*
